<form
  [formGroup]="fb.group({ inventory: stockForm })"
  class="common-form row g-3"
  id="advance-tab"
>
  <nav
    ngbNav
    #nav="ngbNav"
    class="nav nav-pills discount-options"
    formArrayName="inventory"
  >
    <ng-container ngbNavItem>
      <div class="nav-item">
        <a ngbNavLink>
          <span>Ghana</span>
        </a>
      </div>
      <ng-template ngbNavContent>
        <div class="meta-body" [formGroupName]="0">
          <div class="row g-3">
            <div class="col-sm-6">
              <label class="form-label" for="initialCost"
                >Initial totalQty</label
              >
              <input
                class="form-control"
                id="initialCost"
                formControlName="totalQty"
                type="number"
                min="0"
                placeholder="totalQty"
              />
            </div>
            <div class="col-sm-6">
              <label class="form-label" for="sellingPrice">inStock </label>
              <input
                class="form-control"
                id="sellingPrice"
                type="number"
                min="0"
                formControlName="inStock"
                placeholder="inStock"
              />
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <div class="nav-item">
        <a ngbNavLink>
          <span>UK</span>
        </a>
      </div>
      <ng-template ngbNavContent>
        <div class="meta-body" [formGroupName]="1">
          <div class="row g-3">
            <div class="col-sm-6">
              <label class="form-label" for="initialCost"
                >Initial totalQty</label
              >
              <input
                class="form-control"
                id="initialCost"
                formControlName="totalQty"
                type="number"
                min="0"
                placeholder="totalQty"
              />
            </div>
            <div class="col-sm-6">
              <label class="form-label" for="sellingPrice">inStock </label>
              <input
                class="form-control"
                id="sellingPrice"
                type="number"
                min="0"
                formControlName="inStock"
                placeholder="inStock"
              />
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </nav>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <!-- <div class="col-sm-6">
    <label class="form-label">Stock Availability</label>
    <select2
      [data]="stockAvailability"
      [templates]="template"
      placeholder="In stock"
      formControlName="inStock"
    >
      <ng-template #template let-item="label">
        {{ item }}
      </ng-template>
    </select2>
  </div> -->
  <!-- <div class="col-sm-6">
    <label class="form-label" for="exampleFormControlInputa"
      >Stock Quantity
      <span class="txt-danger">*</span>
    </label>
    <input
      class="form-control"
      id="exampleFormControlInputa"
      type="number"
      placeholder="Quantity"
      formControlName="totalQty"
    />
  </div> -->
  <div class="col-12 product-buttons">
    <button class="btn" type="button" (click)="previous()">
      <app-svg-icon [icon]="'back-arrow'"></app-svg-icon>Previous
    </button>
    <button class="btn" type="button" (click)="next()">
      SUbmit
      <app-svg-icon [icon]="'front-arrow'"></app-svg-icon>
    </button>
  </div>
</form>
