<div class="container-fluid dashboard-2">
  <div class="row size-column">
    <div class="col-xxl-10 col-md-12 box-col-12 grid-ed-12">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body main-title-box">
              <div class="common-space gap-2">
                <h6 class="f-light">
                  The latest shopping trends and timeless essentials are waiting
                  for you
                </h6>
                <div class="e-common-button">
                  <a
                    class="btn btn-primary"
                    href="javascript:void(0)"
                    [routerLink]="['/dashboard/create']"
                  >
                    <app-feather-icon [icon]="'plus'"></app-feather-icon>
                    Add Product
                  </a>
                  <!-- <a
                    class="btn btn-primary"
                    href="javascript:void(0)"
                    [routerLink]="['/order/1']"
                    >View Orders</a
                  > -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-12 box-col-12">
          <app-stock-reports></app-stock-reports>
        </div>
        <div class="col-xxl-3 col-md-5 col-sm-6 box-col-5">
          <app-top-customers></app-top-customers>
        </div>
        <div class="col-xxl-5 col-xl-4 box-col-4 ord-xl-vi box-ord-6">
          <app-recent-orders></app-recent-orders>
        </div>
        <div class="col-xxl-4 col-sm-6 box-col-6 ord-xl-i box-ord-1">
          <app-month-order></app-month-order>
        </div>
        <div class="col-xxl-12 box-col-12 ord-xl-iii box-ord-3">
          <app-recent-transactions></app-recent-transactions>
        </div>
      </div>
    </div>

    <div
      class="col-xxl-2 col-xl-3 col-md-4 grid-ed-none box-col-none d-xxl-block d-none"
    >
      <app-card [headerTitle]="'Top Categories'" [cardBodyClass]="'pt-0'">
        <app-top-categories></app-top-categories>
        <app-recent-activity></app-recent-activity>
      </app-card>
    </div>
  </div>
</div>
