<div class="tab-content custom-input">
  <div class="sidebar-body advance-options">
    <ul
      ngbNav
      #nav="ngbNav"
      [(activeId)]="additionalActiveId"
      class="nav nav-tabs border-tab mb-0"
      orientation="horizontal"
    >
      @for(item of additionalOptions;track item; let i = $index){
      <li class="nav-item" [ngbNavItem]="i + 1">
        <a ngbNavLink>
          {{ item.title }}
        </a>
        <ng-template ngbNavContent>
          <div class="meta-body">
            @if(item.value == 'inventory'){
            <app-inventory
              (changeTabDetails)="changeTabDetails($event)"
              (changeTab)="handleChangeTab($event)"
              [active]="active"
              [additionalActiveId]="additionalActiveId"
            ></app-inventory>
            } @if(item.value == 'allergens'){
            <app-allergens
              (changeTabDetails)="changeTabDetails($event)"
              [active]="active"
              (changeTab)="handleChangeTab($event)"
              [additionalActiveId]="additionalActiveId"
            ></app-allergens>
            }
          </div>
        </ng-template>
      </li>
      }
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
