<div class="container completed-container">
  <form
    class="stepper-four d-flex justify-content-center g-3 needs-validation shipping-wizard"
  >
    @if(type == 'simple') {
    <div class="order-confirm text-center" style="width: 300px">
      <img
        src="assets/images/gif/dashboard-8/successful.gif"
        class="w-100"
        alt="popper"
      />
      <div>
        <h5>Order Placed Successfully</h5>
        <p class="mb-0">
          A confirmation email with your order details has been sent to you.
        </p>
      </div>
    </div>
    } @else if(type == 'classic') {
    <div class="finish-shipping">
      <app-svg-icon [icon]="'ord-success'"></app-svg-icon>
      <div class="mt-sm-3 text-center">
        <h5>Order Placed Successfully</h5>
        <p class="mb-0 c-o-light">
          A confirmation email with your order details has been sent to you.
        </p>
        <p>
          You will be redirected in... <strong>{{ count }}</strong>
        </p>
      </div>
    </div>
    }
  </form>
</div>
