<div class="tab-content custom-input">
  <div class="sidebar-body common-form e-category">
    <div class="row g-3 common-form">
      <div class="col-md">
        <label class="form-label"
          >Brand
          <span class="txt-danger">*</span>
        </label>
        <select
          class="form-select"
          aria-label="Select category"
          [(ngModel)]="selectedBrand"
        >
          <option [ngValue]="null" selected>Select One</option>
          @for (item of ProductBrands; track $index) {
          <option [ngValue]="item">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="col-md">
        <label class="form-label"
          >Parent Category
          <span class="txt-danger">*</span>
        </label>
        <select
          class="form-select"
          aria-label="Select category"
          [(ngModel)]="selectedCategory"
        >
          <option [ngValue]="null" selected>Select One</option>
          @for (item of productCategory; track $index) {
          <option [ngValue]="item">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="col-sm-12 common-tagify mt-4">
        <label class="form-label">Sub Category </label>
        <select
          class="form-select"
          aria-label="Select a sub category"
          [(ngModel)]="selectedSubCategory"
        >
          <option selected="">Select One</option>
          @for (item of productSubCategories; track $index) {
          <option [ngValue]="item">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="col-12 product-buttons">
        <button class="btn" type="button" (click)="previous()">
          <app-svg-icon [icon]="'back-arrow'"></app-svg-icon>Previous
        </button>
        <button class="btn" type="button" (click)="next()">
          Next
          <app-svg-icon [icon]="'front-arrow'"></app-svg-icon>
        </button>
      </div>
    </div>
  </div>
</div>
