<div class="row g-3 common-form">
  <div class="col-12">
    <div class="row g-2 product-tag">
      <label class="form-label d-block m-0">Badges</label>
      <tag-input
        [(ngModel)]="badges"
        name="tag"
        [editable]="true"
        class="form-control"
      ></tag-input>
    </div>
  </div>
  <div class="col-12">
    <div class="row g-2 product-tag">
      <label class="form-label d-block m-0">Allergens</label>
      <tag-input
        [(ngModel)]="allergens"
        name="tag"
        [editable]="true"
        class="form-control"
      ></tag-input>
    </div>
  </div>

  <div class="col-12">
    <div class="row g-2 product-tag">
      <label class="form-label d-block m-0">Ingredients</label>
      <tag-input
        [(ngModel)]="ingredients"
        name="tag"
        [editable]="true"
        class="form-control"
      ></tag-input>
    </div>
  </div>
  <div class="col-12">
    <label class="form-label">organic</label>
    <select name="" id="" [(ngModel)]="organic" class="form-select">
      <option value="" selected>Select One</option>
      <option *ngFor="let option of organicOptions" [value]="option.value">
        {{ option.name }}
      </option>
    </select>
  </div>
  <div class="col-12 flex-column">
    <label class="form-label">Weight</label>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="weight"
        aria-label="Text input with dropdown button"
      /><select name="" id="" [(ngModel)]="unit" class="">
        <option value="" selected>Select One</option>
        <option value="kg">kg</option>
        <option value="g">g</option>
      </select>
    </div>
  </div>
  <div class="col-12 product-buttons">
    <button class="btn" type="button" (click)="previous()">
      <app-svg-icon [icon]="'back-arrow'"></app-svg-icon>Previous
    </button>
    <button class="btn" type="button" (click)="next()">
      Submit
      <app-svg-icon [icon]="'front-arrow'"></app-svg-icon>
    </button>
  </div>
</div>
